<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EFCore_MySQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EFCore_MySQL.Properties.Settings>
            <setting name="CONNECTIONSTRING" serializeAs="String">
                <value>"server=localhost;port=3306;uid=root;pwd=0316165110;database=testdb"</value>
            </setting>
        </EFCore_MySQL.Properties.Settings>
    </userSettings>
</configuration>