<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--개인 정보-->
		<add key="MyName" value="이연준"/>
		<add key="MyEmail" value="leeyeonjun85@gmail.com"/>

		<!--프로그램 정보-->
		<add key="Version" value="1.0.0"/>
		<add key="LastUpdateDate" value="2023-11-11"/>
	</appSettings>
</configuration>