<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--개인 정보-->
		<add key="MyName" value="이연준"/>
		<add key="MyEmail" value="leeyeonjun85@gmail.com"/>

		<!--각종 경로-->
		<add key="Root" value="OoManager"/>
		<add key="AppName" value="OoManager"/>
		<add key="Logs" value="Logs"/>
		<add key="DataBase" value="DataBase"/>

		<!--프로그램 정보-->
		<add key="Version" value="Version 1.0.0"/>
		<add key="UpdateDate" value="20230917"/>
		<add key="ServerIP" value="https://172.30.1.45:7076/chatHub/"/>
	</appSettings>
</configuration>