<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpf_Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wpf_Chat.Properties.Settings>
            <setting name="SignalRConfig_Server" serializeAs="String">
                <value>https://localhost:7076/chathub</value>
            </setting>
            <setting name="SignalRConfig_VPN" serializeAs="String">
                <value>testVPN</value>
            </setting>
            <setting name="SignalRConfig_UserName" serializeAs="String">
                <value>testUser</value>
            </setting>
            <setting name="SignalRConfig_Password" serializeAs="String">
                <value>1234</value>
            </setting>
        </Wpf_Chat.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key ="key1" value ="Sample" />
	</appSettings>
</configuration>