@page "/members"
@using BlazorServerSignalR.Data;
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.EntityFrameworkCore;
@using OoManager.Models
@inject OoDbContext _ooDbContext
@* @implements IAsyncDisposable *@


<PageTitle>Members</PageTitle>

<h1>Members</h1>

<hr>

<div>
    <input @bind="userInput" />
    <button @onclick="AddMember">Add Member</button>
</div>
<div>
    <button @onclick="ShowMembers">Show Members</button>
</div>

<hr>

<ul>
    @foreach (var member in members)
    {
        <li>@member.name</li>
    }
</ul>


@code {
    private List<ModelMembers> members = new();
    private string userInput = string.Empty;
    bool _ooDbContextIsConnected;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(async () =>
        {
            await _ooDbContext.Database.EnsureCreatedAsync();

            Task<bool> ooDbContextIsConnected = _ooDbContext.Database.CanConnectAsync();
            _ooDbContextIsConnected = ooDbContextIsConnected.Result;

            if (_ooDbContextIsConnected)
            {
                await _ooDbContext.members.LoadAsync();
                members = _ooDbContext.members.Local.ToList();
            }
        });
    }

    private void AddMember()
    {
        var addData = new ModelMembers { name = userInput };

        _ooDbContext.members.Add(addData);
        _ooDbContext.SaveChanges();
        ShowMembers();
    }

    private void ShowMembers()
    {
        _ooDbContext.members.Load();
        members = _ooDbContext!.members.Local.ToList();
    }
}